@font-face {
    font-family: "TextFont";
    src: url("/static/text.ttf") format("truetype");
}
@font-face {
    font-family: "MenuFont";
    src: url("/static/heading.otf") format("opentype");
}
@font-face {
    font-family: "HeadingFont";
    src: url("/static/heading.otf") format("opentype");
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img {
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym {
    border:0;
}

html {
    overflow-y: scroll;
}

body {
    background: #D0D0D0;
}

#main {
    width: 768px;

    /* Making a float centered */
    position: relative;
    float: left;
    top:10px;
    left: 50%;
    margin-left: -384px;
}

#top {
    float: left;
}
#top img {
    float:left;
}

#middle {
    float: left;
    padding: 0 0 0 9px;
    width:100%;
    background: url('/static/images/page-middle.png') repeat-y;
}

#menu {
    float: left;
    margin: 0 0 0 10px;
    padding: 20px 0 0 0;
    width: 150px;
}

#menu li {
    float:left;
    font: 10pt/90% "MenuFont";
    width: 150px;
}

#menu > li > a {
    background: url('/static/images/menu-pil.png') 6px 7px no-repeat;
    float: left;
    padding: 4px 0 4px 21px;
    color: #000;
    width: 129px;
    text-decoration: none;
}
#menu > li > ul > li > a {
    background: url('/static/images/menu-pil.png') 10px 7px no-repeat;
    float: left;
    padding: 4px 0 4px 25px;
    color: #000;
    width: 125px;
    text-decoration: none;
}
#menu > li a:hover {
    background-color: #E4E4E4;
}

#main-content {
    float: left;
    width: 570px;
    padding: 0 0 0 20px;
    font-family: "TextFont";
    font-size: 9pt;
}
#main-content input {
    border: 1px solid #CCC;
    background-color: #FFF;
}

#main-content h1, #main-content h2, #main-content h3 {
    font-family: "HeadingFont";
}
#main-content strong {
    font-weight: bold;
}
#main-content h1 {
    font-size: 23pt;
    margin:10px 0 10px 0;
}
#main-content h2 {
    font-size: 19pt;
    margin:10px 0 10px 0;
}
#main-content h3 {
    font-size: 16pt;
    margin:10px 0 10px 0;
}

#main-content abbr, #main-content acronym {
    border-bottom: 1px dotted #555;
    cursor: help;
} 
#main-content em {
    font-style: italic;
}
#main-content blockquote, #main-content ul, #main-content ol, #main-content dl {
    margin: 1em;
}
#main-content ol, #main-content ul, #main-content dl {
    margin-left:2em;
}
#main-content ol li {
    list-style: decimal outside;
}
#main-content ul li {
    list-style: disc outside;
}
#main-content dl dd {
    margin-left:1em;
}
#main-content th, #main-content td {
    border:1px solid #000;
    padding:4px;
}
#main-content th {
    font-weight:bold;
    text-align:center;
}
#main-content caption {
    margin-bottom:.5em;
    text-align:center;
}
#main-content p, #main-content fieldset, #main-content table {
    margin-bottom:1em;
    border:0;
}
#main-content td, #main-content th {
    border:1px solid #AAA;
}
#main-content a {
    text-decoration: underline;
}

#main-content .login-form-label {
    display: block;
    text-align: right;
}
#login-submit {
    text-align: right;
}

#main-content form table td{
    border:0;
    
}
#main-content form table th{
    border:0;
    vertical-align:top;
}

#main-content .error-message {
    margin:0;
    color:#F00;
}

#main-content form table {
    width:400px;
}
#main-content form table input {
    width:100%;
}
#main-content .hint {
    margin:0;
    color:#AAA;
}
#main-content #statusbar {
    width:200px;
    float:right;
    padding: 10px;
    margin: 0 0 7px 7px;
    border-bottom: 1px dotted #EEE;
    border-left: 1px dotted #EEE;
}
